#div-product {
    height: auto;
    width: 48%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .05);
    border: 1px solid transparent;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

#div-product:hover {
    background-color: #65656517;
}

#div-text {
    padding: 10px;
}

#div-text h2 {
    font-size: 20px;
    font-weight: 700;
    color: #36454f;
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
}

#div-text h3 {
    font-size: 20px;
    color: #36454f;
    line-height: 1.52857;
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
}

#div-text span {
    color: #36454f;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: .2px;
    line-height: 1.4;
    height: 40px;
    word-wrap: break-word;
    overflow: hidden;
    white-space: pre-line;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: "Source Sans Pro", sans-serif;

}

#div-img {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#div-img img {
    width: 10vw;
    height: 20vh;
    object-fit: cover;
    border-radius: 10px;

}

@media (max-width: 768px) {

    #div-product {
        height: auto;
        width: 100%;
        flex-direction: column;
        padding-right: 0;
        padding: 10px;
        /* adiciona isso para empilhar verticalmente */
    }

    #div-img {
        width: 100%;
        /* pra imagem ocupar toda largura disponível */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #div-img img {
        width: 100%;
        /* imagem com largura total do container */
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }

    #div-text h3 {
        font-size: 30px;
    }

    #div-text h2 {
        font-size: 30px;
    }
}